
.welcome {
  background: url("/images/background-title.jpg") no-repeat;
}

.newsletter {
  background: url("/images/background-email.jpg") no-repeat;
}

.main-inner {
  background: url("/images/background-catalog.jpg") no-repeat;
}
