@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  outline: 2px solid deeppink;
  outline-offset: -2px;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
}

main {
  outline: 2px solid deepskyblue;
  outline-offset: -2px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

/* Header */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header-logo {
  margin-left: 20px;
  margin-right: 20px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-list {
  width: 531px;
  margin: 0;
  display: flex;
  justify-content: flex-start;

  padding: 19px 0;
  list-style:none;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.navigation-user {
  width: 531px;
  margin: 0;
  justify-content: flex-end;
}

.navigation-left {
  margin-right: 33px;
  outline: 5px solid yellow;
  outline-offset: -5px;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;

  outline: 5px solid green;
  outline-offset: -5px;
}

.navigation-icon {
  margin-left: 21px;
  fill: currentColor;
  outline: 5px solid green;
  outline-offset: -5px;
}

/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.welcome {
  min-height: 650px;
  background: url("../images/background-title.jpg") no-repeat;
  background-size: 100%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  width: 1200px;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 1.63;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item .advantages-description {
  text-align: center;
}

/* Dealform */

.dealform-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 91px;
}

.dealform-text {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.dealform .button {
  font-size: 20px;
  line-height: 1.8;
}

/* Newsletter */

.newsletter {
  min-height: 650px;
  color: #ffffff;
  background: url("../images/background-email.jpg") no-repeat;
  background-size: 100%;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 94px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.newsletter .button {
  font-size: 20px;
  line-height: 1.3;
  background-color: #83B3D3;
}

.field {
  line-height: 26px;
}

/* Catalog */

.main-inner {
  background: url("../images/background-catalog.jpg") no-repeat;
  color: #ffffff;
}

.inner-header {
  padding-left: 71px;
  outline: 4px solid deeppink;
  outline-offset: -2px;
}

.sorting-search {
  outline: 4px solid green;
  outline-offset: -2px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-group {
  display: inline-block;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}

.control-label {
  font-size: 18px;
  line-height: 1.27;
}

.sorting-form {
  padding-left: 71px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}

.button-blue, .pagination-show-more {
  background: #83B3D3;
}

.button-none {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  text-transform: capitalize;
  background: none;
}

.select-control {
  line-height: 24px;
}

.hotel-catalog {
  padding-top: 42px;
  outline: 4px solid red;
  outline-offset: -2px;
}

.hotel-list {
  padding-left: 72px;
}

.hotel-card-title-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.29;
  color: inherit;
  text-decoration: none;
}

.hotel-card-type, .hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27;
  color: #000000;
}

.hotel-rating {
  font-size: 16px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.number-hotels {
  outline: 4px solid deeppink;
  outline-offset: -2px;
}

.pagination-show-more {
  padding: 31px 288px;
  font-size: 20px;
}

/* Footer */

footer {
  outline: 2px solid limegreen;
  outline-offset: -2px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-social {
  width: 120px;
  margin-right: 48px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.footer-social-list {
  width: 240px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.footer-social-item .button {
  color: #000000;
  background-color: #ffffff;
  outline: 5px solid yellow;
  outline-offset: -5px;
}

.footer-contacts-phone {
  width: 720px;
  margin-left: 61px;
  margin-right: 61px;
  font-size: 40px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-align: center;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.button-academy-logo {
  margin-left: auto;
  width: 120px;
  height: 34px;
  background-color: #ffffff;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}


